@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: darkslategray;
  color: white;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 300px;
  width: 500px;
  background-color: rgb(39, 32, 31);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
  border: 10px solid transparent;
  border-image: linear-gradient(to right, rgb(128, 0, 53), rgb(212, 127, 16));
  border-image-slice: 1;
  flex-direction: column;
}

.time {
  /* Fallback: Set a background color. */
  background-color: #ca4246;

  /* Create the gradient. */
  background-image: linear-gradient(
    45deg,
    #ca4246 16.666%,
    #e16541 16.666%,
    #e16541 33.333%,
    #f18f43 33.333%,
    #f18f43 50%,
    #8b9862 50%,
    #8b9862 66.666%,
    #476098 66.666%,
    #476098 83.333%,
    #a7489b 83.333%
  );

  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
small {
  background-color: #ca4246;

  /* Create the gradient. */
  background-image: linear-gradient(
    45deg,
    #a89394 16.666%,
    #e16541 16.666%,
    #e16541 33.333%,
    #f18f43 33.333%,
    #f18f43 50%,
    #8b9862 50%,
    #c0c4b4 66.666%,
    #476098 66.666%,
    #888e99 83.333%,
    #a7489b 83.333%
  );

  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
